
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$main-font: 'Montserrat', sans-serif;
$bold-font-color: #000b42;
$regular-font-color: #555557;
$primary-button-color: #6382ff;
$subtitle-color: #7ca2ad;
$primary-button-foreground: white;
$primary-button-hover: #708cff;
$visited-link: #7f4cff;
$invalid-color: #ff5b68;
@import "js/bootstrap-5.1.3/scss/bootstrap";

$navbar-dark-color: $bold-font-color;
$navbar-dark-hover-color: $primary-button-hover;
$card-border-radius: 10px;
$card-inner-border-radius: 10px;
$card-border-color: white;
$card-bg: rgba(255, 255, 255, 0.5);
$card-cap-bg: rgba(255, 255, 255, 0.3);
$badge-font-size: 10px;
$input-border-color: white;
$input-bg: rgba(255, 255, 255, 0.5);
$form-select-bg: rgba(255, 255, 255, 0.5);
$form-select-border-color: white;
$form-select-border-radius: 10px;
$form-check-input-checked-color: white;
$form-check-input-checked-bg-color: $primary-button-color;

.badge-open {
  color: #ffffff;
  background-color: #7cd58a;
}
.badge-closed {
   color: #ffffff;
   background-color: #d57c91;
 }

%basic-white-component {
  display: flex;
  border-radius: 15px;
  box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.1);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px rgba(255, 255, 255, .2) solid;
}

%basic-white-component-before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(30px);
  margin: 20px;
}

%basic-text-box {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 7px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.2);
  color: $regular-font-color;
  transition: 0.3s;
}

%basic-primary-button {
  border: 0;
  padding: 10px;
  background-color: $primary-button-color;
  color: $primary-button-foreground;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 0 1em 0 rgba(99, 130, 255, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

%basic-primary-button-hover {
  background-color: $primary-button-hover;
}

.search-button {
  @extend %basic-primary-button;
  padding-right: 2em;
  padding-left: 2em;
}

.search-button:hover {
  @extend %basic-primary-button-hover;
}

* {
  font-family: $main-font;
}
.myHeading {
  font-weight: 600;
  color: $bold-font-color;
}

h1 {
  font-weight: 600;
  color: $bold-font-color;
}


h4 {
  color: $bold-font-color;
  font-weight: 700;
  margin-left: 2vw;
  font-size: 28px;
}

.background {
  margin: 0;
  font-family: $main-font;
  background-image: url('images/snowymint.jpg');
  background-size: 100%;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: myFirstFont;
  src: url(images/Montserrat-ExtraBold.ttf);
}

.outlined-text {
  font-family: myFirstFont, sans-serif;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-color: $bold-font-color;
  -webkit-text-stroke-width: 2px;
}

.invalid-input {
  color: $invalid-color;
  font-weight: 500;
}