@import 'base';
@import 'login';
@import 'register';
@import 'cards';
@import 'sports-object';
@import 'profile';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10vh;
  .image-message {
    margin-right: 10vw;
  }
  .text-message {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $bold-font-color;
      font-weight: 700;
      font-size: 50px;
    }
    p {
      color: $regular-font-color;
      font-size: 20px;
      margin-left: 0.2em;
    }
  }
  overflow: hidden;
}

.main-div {
  background-color: transparent;
  border-radius: 0;
  border: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    max-width: 80vw;
  }
  h1 {
    font-weight: 700;
  }
}

.filter-div {
  width: 80vw;
  .buttons {
    display: flex;
  }
}

.filter-button {
  @extend %basic-primary-button;
  max-width: 7em;
  margin-right: 1em;
}

.sort-button {
  @extend %basic-primary-button;
}

.filter-button:hover {
  @extend %basic-primary-button-hover;
}

#filters {
  margin-top: 2em;
  .card {
    padding-left: 2em;
    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.checkbox-list {
  margin-bottom: 1em;
  label {
    margin-right: 0.7em;
    .form-check-input {
      margin-right: 0.3em;
    }
  }

}

.clear-button {
  @extend %basic-primary-button;
  font-size: 10px;
  max-height: 2em;
  background-color: #dc3545;
  padding: 0.3em 0.7em;
}

.cancel_button {
  border: 0;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.buttons-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button:hover, .cancel_button:hover {
  background-color:  #E66262;
}

.sort-button, .cancel-button, .filter-button, .search-button, .submit-button, .filter-type-button {
  border: 0;
  padding: 10px;
  background-color: #6382ff;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 0 1em 0 rgba(99, 130, 255, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

.filter-type-button:hover, .search-button:hover, .submit-button:hover {
  background-color: #708cff;
}

.filter-type-button {
  font-size: 10px;
  max-height: 2em;
  padding: 0.3em 0.7em;
}