@import 'base';
@import 'login';
@import 'register';
@import 'cards';
@import 'sports-object';
@import 'profile';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10vh;
  .image-message {
    margin-right: 10vw;
  }
  .text-message {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $bold-font-color;
      font-weight: 700;
      font-size: 50px;
    }
    p {
      color: $regular-font-color;
      font-size: 20px;
      margin-left: 0.2em;
    }
  }
  overflow: hidden;
}

.main-div {
  background-color: transparent;
  border-radius: 0;
  border: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    max-width: 80vw;
  }
  h1 {
    font-weight: 700;
  }
}

.filter-div {
  width: 80vw;
  .buttons {
    display: flex;
  }
}

.filter-button {
  @extend %basic-primary-button;
  max-width: 7em;
  margin-right: 1em;
}

.sort-button {
  @extend %basic-primary-button;
}

.filter-button:hover {
  @extend %basic-primary-button-hover;
}

#filters {
  margin-top: 2em;
  .card {
    padding-left: 2em;
    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.checkbox-list {
  margin-bottom: 1em;
  label {
    margin-right: 0.7em;
    .form-check-input {
      margin-right: 0.3em;
    }
  }

}

.clear-button {
  @extend %basic-tertiary-button;
  padding-left: 0;
}

.clear-button:hover {
  @extend %basic-tertiary-button-hover;
}

.filter-type-button {
  @extend %basic-secondary-button;
}

.filter-type-button:hover {
  @extend %basic-secondary-button-hover;
}

.filter-tag-unchecked {
  @extend %basic-secondary-button;
  pointer: hand;
}

.filter-tag-checked {
  @extend %basic-primary-button;
}

.filter-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  li {
    display: inline;
    margin-right: 1.2em;
  }
  input[type=radio] {
    margin-right: 0.4em;
  }
}