@import 'base';

.sidebar-container:before {
  @extend %basic-white-component-before;
}
.sidebar-container {
  @extend %basic-white-component;
  padding: 2vw;

  h3 {
    font-weight: 700;
    font-family: $main-font;
    font-size: 24px;
  }
}

.user-page {
  .navy {
  }
}