@import 'base';


#pills-tabContent {
  @extend %basic-white-component;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .nav-link {
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 10em;
    text-align: left;
    margin-bottom: 0.4em;
  }
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.6) !important;
  }
  ul {
    .active {
      background-color: $primary-button-color !important;
    }
    .active:hover {
      background-color: $primary-button-hover !important;
    }
  }
}

.tab-panel {
  display: flex;
}

.users-table {
  padding: 2vw;
  width: 50vw;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.filter-and-sort {
  display: flex;
  gap: 0.7em;
  flex-direction: row;
  margin-bottom: 0.7em;
  font-size: 14px;
  button {
    font-size: 14px;
  }
}

.buttons-galore {
  width: 50vw;
  margin-left: 175px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  button {
    height: 3em;
    padding: 0em 1em;
    a {
      text-decoration: none;
      color: white;
    }
  }
}