@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$main-font: 'Montserrat', sans-serif;
$bold-font-color: #000b42;
$regular-font-color: #555557;
$primary-button-color: #6382ff;
$primary-button-foreground: white;
$primary-button-hover: #99aeff;
$visited-link: #7f4cff;

* {
  font-family: $main-font;
}
h1 {
  font-weight: 600;
  color: $bold-font-color;
}

.loginBody {
  margin: 0;
  font-family: $main-font;
  background-image: url('images/lightskyblue.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21.5vw;
  height: 22vw;
  border-radius: 15px;
  box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.1);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;

}

.loginDiv:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(30px);
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textBox {
  border: 0;
  outline: 0;
  width: 18em;
  padding: 10px;
  border-radius: 7px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.2);
  color: $regular-font-color;
  transition: 0.3s;
}

.textBox:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.submitButton {
  border:  0;
  padding: 10px;
  background-color: $primary-button-color;
  color: $primary-button-foreground;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 0 1em 0 rgba(99, 130, 255, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

.submitButton:hover {
  background-color: $primary-button-hover;
}

.loginContentDiv {
  text-align: center;
  h1 {
    text-align: left;
    margin-bottom: 1em;
  }
  p {
    font-size: 12px;
    color: $regular-font-color;

    a {
      color: $primary-button-color;
      transition: 0.3s;
    }

    a:hover {
      color: $primary-button-hover;
    }

    a:visited {
      color: $visited-link;
    }
  }
}

